{{ define "main" }}
{{ $posts_title := index .Site.Params "posts_title" | default "posts" }}
{{ $posts_count := index .Site.Params "posts_count" | default 2 }}
{{ $pubs_title := index .Site.Params "pubs_title" | default "publications" }}
{{ $pubs_count := index .Site.Params "pubs_count" | default 3 }}
{{ $seminars_title := index .Site.Params "seminars_title" | default "seminars" }}
{{ $seminars_count := index .Site.Params "seminars_count" | default 3 }}
<div class="row">
  <div class="column small-12 medium-7 large-6">
    {{ range first $posts_count ((where .Data.Pages.ByDate "Section" "hyndsight").Reverse) }}
    {{ partial "post-summary" . }}
    {{ end }}
  </div>
  <div class="column small-12 medium-5 large-offset-1">
    <h2><a href="/publications/">Recent {{ $pubs_title }}</a></h2>
    <ul class="compact fa-ul">
      {{ range first $pubs_count (where .Data.Pages.ByDate "Section" "publications").Reverse }}
      <li style="margin-bottom: 9px;">{{ partial "pub-summary" . }}</li>
      {{ end }}
    </ul>
    <div style="padding-top: 5ex;"></div>
    <h2><a href="/seminars/">Recent and upcoming {{ $seminars_title }}</a></h2>
    <ul class="compact fa-ul">
    {{ range first $seminars_count ((where .Data.Pages.ByDate "Section" "seminars").Reverse) }}
      <li style="margin-bottom: 9px;">{{ partial "seminar-summary" . }}</li>
    {{ end }}
    </ul>
  </div>

  </div>
</div>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
  });
</script>
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_CHTML">
</script>

{{ end }}
