{{ define "main" }}
<div class='row'>
  <div class="column small-12 medium-10 medium-offset-1 end large-offset-0 large-3 large-push-9">
    {{ partial "post-aside" . }}
  </div>
<div class="row">
  <div class="column small-12 medium-10 medium-offset-1 end large-offset-0 large-8 large-pull-3">
  <h1>All Hyndsight posts by subject</h1>
    <ul class="taxonomy-terms capitalize">
      {{ range $key,$value := .Data.Terms.ByCount }}
      <li><a href="{{ $value.Name | urlize }}">{{ $value.Name }}</a> ({{ $value.Count }})</li>
      {{ end }}
    </ul>
    <div class='sans'>
    <a href="/hyndsight/">All Hyndsight posts by date</a>
    </div>
  </div>
</div>
</div>
{{ end }}
