{{ if .Params.amazon }}<a href="http://buy.geni.us/Proxy.ashx?TSID=140570&GR_URL=http%3A%2F%2Fwww.amazon.com%2Fdp%2F{{.Params.amazon}}" class="badge badge-small badge-blue">Amazon</a>{{ end }}
{{ if .Params.doi }}<a href="http://doi.org/{{.Params.doi}}" class="badge badge-small badge-blue">DOI</a>{{ end }}
{{ if .Params.jstor }}<a href="http://jstor.org/stable/{{.Params.jstor}}" class="badge badge-small badge-blue">JSTOR</a>{{ end }}
{{ if isset .Params "arxiv" }}<a href="https://arxiv.org/abs/{{.Params.arxiv}}" class="badge badge-small badge-red">arXiv</a>{{ end }}
{{ if isset .Params "link" }}
<a href={{ .Params.link }} class="badge badge-small badge-red"><i class="fa fa-file-pdf-o"></i>&nbsp;pdf</a>
{{ end }}
{{ if isset .Params "online" }}
<a href={{ .Params.online }} class="badge badge-small badge-blue">Online</a>
{{ end }}
{{ if .Params.figshare }} <a href="https://bridges.monash.edu/ndownloader/files/{{.Params.figshare}}" class="badge badge-small badge-red"><i class="fa fa-file-pdf-o"></i>&nbsp;pdf</a>{{ end }}
{{ if .Params.file }}<a href="https://robjhyndman.com/papers/{{.Params.file}}" class="badge badge-small badge-red"><i class="fa fa-file-pdf-o"></i>&nbsp;pdf</a>{{ end }}
{{ if .Params.github }}<a href="http://github.com/{{.Params.github}}" class="badge badge-small badge-green"><i class="fa fa-github"></i>&nbsp;code</a>{{ end }}
{{ if .Params.bitbucket }}<a href="http://bitbucket.org/{{.Params.bitbucket}}" class="badge badge-small badge-green"></i>&nbsp;code</a>{{ end }}
