{{ $pub_kind := index .Params "kind" | default "unpublished" }}
<i class="fa-li fa  fa-line-chart fa fw"  style="color:#03396c;font-size:80%;padding-top:6px;"></i>
{{ .Params.title | safeHTML }}.
{{ if isset .Params "citation" }}
{{.Params.citation | safeHTML }}.
{{ end }}
{{ .Date.Format "(2&nbsp;January&nbsp;2006)" | safeHTML }}
                  {{ if .Params.youtube }}
                  <a href="https://youtu.be/{{ .Params.youtube }}" class="badge badge-small badge-red">YouTube</a>{{ end }}
<a href="{{ .RelPermalink }}" class="badge badge-small">More info...</a>
