{{ define "main" }}
<div class="row">
  <div class="column small-12 medium-10 medium-offset-1 end large-offset-0 large-3 large-push-9">
    {{ partial "post-aside" . }}
    {{ partial "category-cloud" . }}
  </div>
<div class="row">
  <div class="column small-12 medium-10 medium-offset-1 end large-offset-0 large-8 large-pull-3">
  <h1>All Hyndsight posts by date</h1>
    {{ $paginator := .Paginate .Data.Pages }}
    {{ range $paginator.Pages }}
    {{ partial "post-summary" . }}
    {{ end }}
    {{ partial "pagination" . }}

    <div class='sans'>
</div>
  </div>
</div>
</div>
{{ end }}
