{{ define "main" }}
<div class="wrapper">
  <div class="units-row">
    <div class="unit-centered unit-80">
      <div class="row">
        <div class="column small-12 medium-10 medium-offset-1 end large-offset-0 large-3 large-push-9">
          {{ partial "seminar-aside" . }}
        </div>
        <div class="row">
          <div class="column small-12 medium-10 medium-offset-1 end large-offset-0 large-8 large-pull-3">
            <h1>Recent seminars I've given</h1>
            {{ range (where .Data.Pages "Section" "seminars").GroupByDate "2006" "desc" }}
            <div class="row">
              <div class="column small-2 medium-2">
                <h3>{{ .Key }}</h3>
              </div>
              <div class="column small-10 medium-10">
                <span style="font-size: 90%">
                  <ul class="compact fa-ul">
                    {{ range .Pages.ByDate.Reverse }}
                    <li style="margin-bottom: 9px;">{{ partial "seminar-summary" . }}</li>
                    {{ end }}
                  </ul></span>
                </div>
              </div>
              {{ end }}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
