{{ define "main" }}

<p><a href="/unbelievable/preface/"><img src="/img/unbelievable.png" width=20% align='left'></a></p>

<p>I was a Christian for nearly 30 years, and was well-known as a writer and Bible teacher within the Christadelphian community. I gave up Christianity when I no longer thought that there was sufficient evidence to support belief in the Bible.</p>

<p>This is a personal memoir describing my journey of deconversion. Until a few years ago, I was regularly speaking at church conferences internationally, and my books are still used in Bible classes and Sunday Schools around the world. I even helped establish an innovative new church, which became a model for similar churches in other countries. Eventually I came to the view that I was mistaken, and that there was little or no evidence that the Bible was inspired or that God exists. In this book, I reflect on how I was fooled, and why I changed my mind.</p>

<p>The whole book is freely <a href="/unbelievable/preface/">available online</a>. But if you prefer a print or offline version, you can buy a copy via one of the links below.</p>

<p><a href="https://www.createspace.com/5694732"><b>Buy a print copy via CreateSpace</b></a></p>

<p><a href="http://amzn.com/1517363195/?tag=otexts-20"><b>Buy a print copy via Amazon</b></a></p>

<p><a href="https://books.google.com/books?id=MrqMCgAAQBAJ"><b>Buy an e-copy via Google Books</b></a></p>

<p><a href="/unbelievable/preface/"><b>Read online</b></a></p>
{{ end }}
