<script type='text/javascript'>
var amzn_wdgt={widget:'MyFavorites'};
amzn_wdgt.tag='otexts-20';
amzn_wdgt.columns='2';
amzn_wdgt.rows='5';
amzn_wdgt.title='Recommended forecasting and time series books';
amzn_wdgt.width='620';
amzn_wdgt.ASIN='0987507109,3540719164,0324311273,B004K3FKYO,047136164X,0470272848,0792374010,0387953515,144197864X,0387759581';
amzn_wdgt.showImage='True';
amzn_wdgt.showPrice='True';
amzn_wdgt.showRating='False';
amzn_wdgt.design='1';
amzn_wdgt.colorTheme='Pumpkin';
amzn_wdgt.headerTextColor='#eeeeee';
amzn_wdgt.outerBackgroundColor='#31570c';
amzn_wdgt.marketPlace='US';
amzn_wdgt.shuffleProducts='False';
</script>
<script type='text/javascript' src='http://wms-na.amazon-adsystem.com/20070822/US//js/AmazonWidgets.js'>
</script>
