<script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_tracking_id = "otexts-20";
amzn_assoc_ad_mode = "manual";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_title = "LaTeX books";
amzn_assoc_rows = "6";
amzn_assoc_linkid = "837c44f97120fac94a76c36f9781f970";
amzn_assoc_asins = "1847199860,3642238157,0321173856,0201362996,1784395145,0817641319,3319237950,0201529831";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
