/* =Typography
-----------------------------------------------------------------------------*/
body {
	font-family: 'Merriweather', Georgia, 'Times New Roman', Times, Serif;
	font-size: 0.85em;
	line-height: 1.5em;
	background-color: #faf8f8;
}
pre > code {
    font-family: 'Hack', 'Source Code Pro', 'Courier New', 'Courier', monospace;
}

form, input[type="search"], select[multiple="multiple"]  {
  font-family: 'Fira Sans', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'Fira Sans', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #36454f;
  font-weight: bold;
}
h1 {
  font-size: 1.5em;
  padding-bottom: 1em;
  line-height: 1.6em;
}

h2 {
  font-size: 1.3em;
  border-bottom: 1px solid #b3cde0;
}

h2 a {border-bottom: none;}

h3 {
  font-size: 1.1em;
}

h6 {
  font-size: 0.8em;
}

.post-metadata {
  font-size: 0.8em;
}

p, ul, ol, dl, blockquote, hr, pre, table, form, fieldset, figure, address {
    margin-bottom: 1em;
}

.label-red {
  background-color: #36454f;
}

a {color: #36454f;
   text-decoration:none;
   border-bottom: dotted 1px #A1A3A1;}

a:hover {text-decoration:underline;}

a.badge.badge-red { color: #fff;}
a.badge.badge-blue { color: #fff;}

.badge-large {
  font-size: 18px;
  padding: 5px 5px 3px 5px;
  text-transform: none;
  font-family: 'Fira Sans', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.badge {
  font-family: 'Fira Sans', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* RJH problem additions */

hr {
  max-width: 100%;
}
blockquote {
  color: #36454f;
  background: #e9e9e9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-style: normal;
  font-size: 95%;
}

blockquote p {
  color: #36454f;
}

blockquote:before {
  color: #aaa;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

th {
    background-color: #bbbbbb;
}

td {
    background-color: #eeeeee;
}
table th,
table td {
  border-bottom: 1px solid #cccccc;
  padding: 0.2em .2em;
}

ul {
  list-style: square;
}

.row {
    margin-left: 2rem;
    margin-right: 2rem;
    max-width: 100%;
}

.button {
  padding: .5em 1em;
}

/* ----------------------------------------- */

/* =Code
-----------------------------------------------------------------------------*/
pre,
code,
kbd,
samp,
var,
output {
  font-size: 90%;
  font-style: normal;
  font-family: 'Source Code Pro', "Lucida Console", "Courier New", monospace;
}

/* =Common
-----------------------------------------------------------------------------*/
img,
#feedback,
#banner,
#intro li {
	border-radius: 3px;
}

nav {
  font-family: 'Fira Sans', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.nav-bar {
  font-family: 'Fira Sans', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 100%;
}
.post-metadata {
  font-family: 'Fira Sans', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.hd {
  font-family: 'Merriweather', Georgia, 'Times New Roman', Times, Serif;
}

.caps {
  text-transform: lowercase;
  font-family: 'Fira Sans', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.compact { margin: 0 0 0 1.3em; }

hr {border-top: 1px solid #b3cde0; margin-top:5ex; margin-bottom: 5ex;}

.separator {border-top: 5px solid #b3cde0;}


/* =Layout
-----------------------------------------------------------------------------*/
.wrapper {
	padding: 0 10px;
	width: 94%;
	max-width: 1300px;
	margin: auto;
}
.sans {
  font-family: 'Fira Sans', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#outer {
	padding: 3em 0 1em 0;
	margin: 1em 0 3em 0;
	background-size: cover;
	background-position: 50% 50%;
	box-shadow: 0 0 3px #333 inset;
/*	border: 1px solid #000; */
	color: #f2f2f2;
	height: 200px;
}
#outer h2,
#outer h3 {
	color: #ccc;
}

#topbar {
	background: #536878;
	padding:0px;
	margin:0ex;
	/* border-bottom: 3px solid #36454f; */
}
#midbar {
	background: #eaa;
	padding:0px;
	margin:0ex;
	/* border-bottom: 3px solid #36454f; */
}

#topbar .navbar {padding-bottom:14px; font-size:120%;}
#topbar li a {color: #fff; border-bottom: none;}
#topbar li a {color: #b3cde0;}
#topbar li span a {color: #fff;}

.avatar {
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
}


.image-left {
  float: left;
  margin: 0 1em 1em 0;
}

/* =Header
-----------------------------------------------------------------------------*/
header {
	margin-bottom: 0em;
}

header h1 {	font-size: 24px;
	margin-top: 1px;
	margin-bottom: 0;
/*	color: #ffffff;*/ }


#topbar form {float:right; display:inline-block; }



/* =Blocks
-----------------------------------------------------------------------------*/
#blocks dl {
	overflow: hidden;
	margin: 0;
	padding-bottom: 1.5em;
}
#blocks dt {
	float: left;
	width: 22%;
	margin-right: 4%;
}
#blocks dt img {
	padding: 4px;
	background-color: #fff;
	border: 1px solid #000;
	box-shadow: 4px 4px 0 #000;
}
#blocks dd {
	margin: 0;
	float: left;
	width: 74%;
	padding-bottom: 1.5em;
}


/* =Footer
-----------------------------------------------------------------------------*/

.dateblock {text-align:right;
    font-family: 'Fira Sans', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


/* =Footer
-----------------------------------------------------------------------------*/
#footer {
	color: #b3cde0;
	margin-top: 3ex;
	padding-bottom: 20px;
	font-size: .9em;
	padding-top: 1em;
	background-color: #536878;
	overflow: hidden;
/*	box-shadow: 0 2px 4px #bbb inset;*/
/*	background: #f0f0f0;*/
	border-top: 3px solid #36454f;
}
#footer a { color: #fff; }
#footer section {
	float: none;
  font-family: 'Fira Sans', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align:center;
}
#footer nav {
	float: right;
}
#footer nav ul {
	list-style: none;
	margin: 0;
}
#footer nav ul li {
	float: left;
	margin-left: 2em;
}


/* CODE */

.hljs {
  background-color: #e9e9e9;
  padding: 1em;
}
