{{ define "top-bar-right" }}
{{ partial "share.html" $ }}
{{ end }}
{{ define "title-bar-right" }}
{{ partial "share.html" $ }}
{{ end }}
{{ define "whatisthis" }}
{{ partial "whatisthis.html" . }}
{{ end }}
{{ define "main" }}

<div class="wrapper">
<div class="units-row" style='margin-bottom: 0px;'>
<div class="unit-20">&nbsp;</div>
<div class="unit-60"><h1>{{ .Title }}</h1></div>
</div>
<div class="units-row">
  <div class="unit-20 dateblock" style='text-align: right;'><h4 style='padding: .8ex 0px .8ex 0px;'><a href="/hyndsight">Hyndsight</a></h4>
      {{ partial "post-metadata" . }}
    </div>
<div class="unit-60">

  {{ .Content }}

      <meta itemprop="wordCount" content="{{ .WordCount }}">
      <meta itemprop="datePublished" content="{{ .Date.Format "2006-01-02" }}">
      <meta itemprop="url" content="{{ .Permalink }}">

<div class='sans' style="background: #dddddd; padding: 2em;">
<div style="padding-bottom: 1em" >
{{ partial "share2.html" . }}
</div>

    <ul class="pagination" role="navigation" aria-label="Pagination">
      {{ if .PrevInSection }}
      <li class="arrow" aria-disabled="true"><a href="{{.PrevInSection.RelPermalink}}">&laquo; <em>Previous<span class="show-for-sr"> page</span></em>: {{ .PrevInSection.Title }}</a></li>
      {{ end }}
      {{ if .NextInSection }}
      <li class="arrow" aria-disabled="true"><a href="{{.NextInSection.RelPermalink}}"><em>Next<span class="show-for-sr"> page</span></em>: {{ .NextInSection.Title }}&nbsp;&raquo;</a></li>
      {{ end }}
    </ul>
    <a href="/hyndsight/">All Hyndsight posts by date</a>
</div>

<span style='font-family: Carlito'>
 {{ partial "disqus.html" . }}
</span>

  </div>
  </div></div>
{{ end }}
